<div class="box alt">
	<div class="left-top-corner">
		<div class="right-top-corner">
			<div class="border-top">
			</div>
		</div>
	</div>
	<div class="border-left">
		<div class="border-right">
			<div class="inner">

				<h2>Site Map</h2>
				<br></br>
	<ul>
			<!-- Menu -->
			<li><a href="/shop/coffee/">Brands</a></li>
			<li><a href="/shop/goodies/">Accessories</a></li>
			<li><a href="/shop/sales/">Sales</a></li>
			<li><a href="/wishlist.php">Wish List</a></li>
			<li><a href="/cart.php">Cart</a></li>
			<!-- End Menu -->			
	</ul>

			</div>
		</div>
	</div>
	<div class="left-bot-corner">
		<div class="right-bot-corner">
			<div class="border-bot">
			</div>
		</div>
</div>
